<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header') %>
    <title>Athlete</title>
  </head>

  <body>
    <%- include('partials/navigation') %>

    <div class="container p-4">
      <div class="row">
        <%if (records.length> 0) {%> <% records.forEach(function(record) { %>
        <div class="col-md-4">
          <div class="card bg-dark">
            <div
              class="card-header text-white d-flex justify-content-between align-items-center"
            >
              <%= records.title %>
              <a href="/delete/<%= record.id %>" class="btn btn-danger btn-sm">
                Delete
              </a>
            </div>
            <img class="card-img-top" src="<%= record.image %>" />
            <div class="card-body text-light"><%= record.time %></div>
            <div class="card-body text-light"><%= record.description %></div>
          </div>
        </div>
        <%})%> <%} else {%>
        <div class="card card-body text-center">
          <p>😞No Data yet. <a href="/new-entry">Add A New One</a></p>
        </div>
        <%}%>
      </div>
    </div>
  </body>
</html>
